{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO list |
        {% block title %}

        {% endblock %}
    </title>
    {% block head %}

    {% endblock %}
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{% static "js/jquery.ui.datepicker.validation.js" %}"></script>
    <script src="{% static "js/jquery.validate.js" %}"></script>
    <script src="{% static "js/csrf.js" %}"></script>
    <script src="{% static "js/delete_todo.js" %}"></script>
    <script src="{% static "js/add_todo.js" %}"></script>
</head>
<body>
    {% block header %}

    {% endblock %}
    {% block content %}

    {% endblock %}
</body>
</html>