{% extends 'base.html' %}
{% block title %}
    Welcome to todo list
{% endblock %}
{% block content %}
    <div>
        <div>
            <h1>
                SignIn
            </h1>
            <form action="{% url 'django.contrib.auth.views.login' %}" method="post">
                {% if form.non_field_errors %}
                    <div>{{ form.non_field_errors }}</div>
                {% endif %}
                <label>
                    Username
                </label>
                <input type="text" name="username" required><br>
                {% if form.username.errors %}
                    <div>{{ form.username.errors }}</div>
                {% endif %}
                <label>
                    Password
                </label>
                <input type="password" name="password" required><br>
                {% if form.password.errors %}
                    <div class="controls alert">{{ form.password.errors }}</div>
                {% endif %}
                <input type="submit" value="SignIn">
                <input type="hidden" name="next" value="{{ '/' }}" />
                {% csrf_token %}
            </form>
            <form action="/signUp">
                <input type="submit" value="SignUp">
            </form>
        </div>
    </div>
{% endblock %}